@border-style: 1px solid #d2d7d3;

.data-table-container {
  position: absolute;
  left: 60%;
  top: 10%;
  transform: translateX(-50%);
  .data-table {
    width: 800px;
    border-top: @border-style;
    border-bottom: @border-style;
    border-collapse: collapse;
    &__headers {
      text-align: left;
      padding: 0;
      > * {
        padding: 0 10px;
        background: #fff;
        border-top: @border-style;
        border-bottom: @border-style;
        border-bottom-width: 2px;
      }
      &-button {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: 'Roboto', FontAwesome;
        font-size: 16px;
        font-weight: 700;
        color: #222;
        text-align: left;
      }
    }
    &__students {
      text-align: left;
      transition: all 300ms ease;
      > * {
        padding: 10px;
        border-top: @border-style;
        border-bottom: @border-style;
      }
      &-remove-button {
        color: #444;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
    .bg-red {
      background: rgba(241, 169, 160, 0.5);
    }
    .bg-green {
      background: rgba(123, 239, 178, 0.7);
    }
  }
}

.popup-overlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(45, 52, 54, 0.7) ;
}

.remove-popup {
  position: fixed;
  display: none;
  background: #fff;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 0 5px #000;
  p {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  button {
    border: none;
    background: none;
    color: #0984e3;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    margin: 0 25px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Roboto';
    font-size: 16px;
  }
}

