<div class="component-container" [ngStyle]="isPopupOpen()?{'display': 'block'}:{'display': 'none'}">
  <div class="overlay"></div>
  <div class="add-student-popup">
    <form class="add-student-popup__form" [formGroup]="studentForm">
      <div class="add-student-popup__form-group" formGroupName="fullName">
        <div class="first-name">
          <input type="text" 
          formControlName="firstNameControl" 
          placeholder="First name" 
          [ngClass]="{'error': isFullNameInvalid()}" required>
          <span class="bar"></span>
          <div class="alert"
          [ngStyle]="isFirstNameEmpty()?{'display': 'block'}:{'display': 'none'}">First name is required!</div>
          <div class="alert" 
          [ngStyle]="isFirstNameInvalid() && !isFirstNameEmpty()?{'display': 'block'}:{'display': 'none'}">
          First name must be at least 3 characters and <br> can only contain letters!</div>
          <div class="alert" 
          [ngStyle]="!isFirstNameInvalid() && isFullNameInvalid()?{'display': 'block'}:{'display': 'none'}">
          First name and last name must be different!</div>
        </div>
        <div class="last-name">
          <input type="text" 
          formControlName="lastNameControl" 
          placeholder="Last name" 
          [ngClass]="{'error': isFullNameInvalid()}" required>
          <span class="bar"></span>
          <div class="alert" 
          [ngStyle]="isLastNameEmpty()?{'display': 'block'}:{'display': 'none'}">Last name is required!</div>
          <div class="alert" 
          [ngStyle]="isLastNameInvalid() && !isLastNameEmpty()?{'display': 'block'}:{'display': 'none'}">
          Last name must be at least 3 characters and <br> can only contain letters!</div>
          <div class="alert" 
          [ngStyle]="!isFirstNameInvalid() && isFullNameInvalid()?{'display': 'block'}:{'display': 'none'}">
          First name and last name must be different!</div>
        </div>
      </div>
        <div class="add-student-popup__form-group">
          <label for="birthdate">Birthdate</label>
          <input id="birthdate" type="date" formControlName="birthdateControl" required> 
          <span class="bar"></span> 
          <div class="alert" 
          [ngStyle]="isBirthdateInvalid()?{'display': 'block'}:{'display': 'none'}">Birthdate is required!</div>
          <div class="alert" 
          [ngStyle]="isBirthdateEdgeInvalid()?{'display': 'block'}:{'display': 'none'}">Age must be higher than 10!</div>
        </div>
        <div id="average-score" class="add-student-popup__form-group-scores">
          <label class="average-scores-label" for="average-score">Average score</label>
          <div class="average-score" *ngFor="let score of [1, 2, 3, 4, 5]">
            <input id="radio-{{score}}" 
            type="radio" 
            class="average-score-radio" 
            name="averageScoreControl" 
            value="{{score}}" 
            formControlName="averageScoreControl">
            <label for="radio-{{score}}" class="radio-label">{{score}}</label>
          </div>
        </div>
        <button type="submit" 
        class="add-student-button" 
        (click)="onSubmit()"
        [disabled]="!studentForm.valid">Add student</button>
    </form>
    <button class="close-button"(click)="closePopup()">
        <span class="close-button__cross"></span>
    </button>
  </div>
</div>